<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>--company-id</key>
	<string>org.brautaset</string>
	<key>--logformat</key>
	<string>xcode</string>
	<key>--exit-threshold</key>
	<integer>2</integer>
	<key>--create-docset</key>
	<true/>
	<key>--ignore</key>
	<array>
		<string>External</string>
		<string>Libraries</string>
		<string>Frameworks</string>
		<string>Tests</string>
	</array>
	<key>--install-docset</key>
	<true/>
	<key>--output</key>
	<string>/tmp</string>
	<key>--project-company</key>
	<string>Stig Brautaset</string>
	<key>--project-name</key>
	<string>SBJson</string>
	<key>--keep-undocumented-objects</key>
	<true/>
	<key>--keep-undocumented-members</key>
	<true/>
	<key>--warn-undocumented-object</key>
	<false/>
	<key>--warn-undocumented-member</key>
	<false/>
	<key>--warn-empty-description</key>
	<false/>
	<key>--warn-missing-arg</key>
	<false/>
	<key>--warn-unknown-directive</key>
	<true/>
	<key>--no-repeat-first-par</key>
	<true/>
</dict>
</plist>
